---
import type { CollectionEntry } from "astro:content";
import ArrowViewProject from "@/components/icons/ArrowViewProject.astro"

interface Props {
    project: CollectionEntry<"projects">
}

const { project } = Astro.props
const { deploy, description, title, type, category } = project.data
---

<div class="p-2.5 rounded border-nuetral-500 bg-[var(--accent-background-400)] hover:bg-[var(--accent-background-600)]">
    <div class="flex flex-col gap-2">
        <p class="text-sm text-neutral-500">{`${type} - ${category}`}</p>
        <a href={`/projects/${project.slug}`} class="text-3xl font-bold">
            {title}
        </a>
        <p class="text-neutral-500 text-sm">{description}</p>
    </div>
    <div class="mt-3">
        <a href={deploy} target="_blank" class="flex items-center gap-2">
            <span class="text-sm font-medium">Visit project</span>
            <ArrowViewProject />
        </a>
    </div>
</div>